backup/sisactAvatarV1/WebContent/wsdl/Claro2.1/ClaroServiceStockLoad.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ClaroServiceStockLoad"
	targetNamespace="http://www.claroservicestockload.com/ClaroServiceStockLoad"
	xmlns:myco="http://www.claroservicestockload.com/ClaroServiceStockLoad"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:ns="http://claro.com.pe/HeaderGeneric">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.claroservicestockload.com/ClaroServiceStockLoad"
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/Claro2.1/Nouns/ClaroServiceStockLoad.xsd">
			</xsd:import>
			<xsd:import namespace="http://claro.com.pe/HeaderGeneric"
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/Claro2.1/Header/HeaderGeneric.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>

	
	<wsdl:message name="GetCheckProcessStatusMessage">
		<wsdl:part name="HeaderRequest" element="ns:HeaderRequest"></wsdl:part>
		<wsdl:part name="GetCheckProcessStatusElement" element="myco:GetCheckProcessStatusElement"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ShowCheckProcessStatusMessage">
		<wsdl:part name="HeaderResponse" element="ns:HeaderResponse" />
		<wsdl:part name="ShowCheckProcessStatusElement" element="myco:ShowCheckProcessStatusElement" />
	</wsdl:message>

	<wsdl:message name="GetExecuteStockProcessMessage">
		<wsdl:part name="HeaderRequest" element="ns:HeaderRequest"></wsdl:part>
		<wsdl:part name="GetExecuteStockProcessElement" element="myco:GetExecuteStockProcessElement"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="ShowExecuteStockProcessMessage">
		<wsdl:part name="HeaderResponse" element="ns:HeaderResponse"></wsdl:part>
		<wsdl:part name="ShowExecuteStockProcessElement" element="myco:ShowExecuteStockProcessElement"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="ClaroServiceStockLoad">
		<wsdl:operation name="CheckProcessStatus">
			<wsdl:input message="myco:GetCheckProcessStatusMessage" />
			<wsdl:output message="myco:ShowCheckProcessStatusMessage" />
		</wsdl:operation>
		<wsdl:operation name="ExecuteStockProcess">
			<wsdl:input message="myco:GetExecuteStockProcessMessage"></wsdl:input>
			<wsdl:output message="myco:ShowExecuteStockProcessMessage"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ClaroServiceStockLoadSOAP" type="myco:ClaroServiceStockLoad">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CheckProcessStatus">
			<soap:operation soapAction="http://www.claroservicestockload.com/ClaroServiceStockLoad/NewOperation" />
			<wsdl:input>
				<soap:header message="myco:GetCheckProcessStatusMessage" part="HeaderRequest" use="literal" />
				<soap:body parts="GetCheckProcessStatusElement" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="myco:ShowCheckProcessStatusMessage" part="HeaderResponse" use="literal" />
				<soap:body parts="ShowCheckProcessStatusElement" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExecuteStockProcess">
			<soap:operation soapAction="http://www.claroservicestockload.com/ClaroServiceStockLoad/NewOperation" />
			<wsdl:input>
				<soap:header message="myco:GetExecuteStockProcessMessage" part="HeaderRequest" use="literal" />
				<soap:body parts="GetExecuteStockProcessElement" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="myco:ShowExecuteStockProcessMessage" part="HeaderResponse" use="literal" />
				<soap:body parts="ShowExecuteStockProcessElement" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ClaroServiceStockLoad">
		<wsdl:port binding="myco:ClaroServiceStockLoadSOAP" name="processClaroServiceStockLoad">
			<soap:address
				location="http://localhost/webapp/wcs/services/processClaroServiceStockLoad" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>